@import url(https://fonts.googleapis.com/css?family=Roboto::400,600,700,800);

body {
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	color: #333;
    overflow-x: hidden;
}

/********************
****Landing Page*****
********************/

.main-header {
	background: transparent;
    border: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

.ws-header-links > li > a {
	color: white !important;
	background: transparent !important;
}

#ws-landing-bg {
	background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/new-bg.jpg") no-repeat;
	height: 100vh;
    background-size: cover;
    background-position: center;
}

.ws-landing-text {
	color: white;
	margin-top: 30%;
	font-size: 46px;
    margin-bottom: 0px;
    font-weight: bold;
}

.ws-landing-tag {
	color: white;
	font-size: 15px;
	font-weight: 600;
    margin: 0 0 10px 0;
}

.ws-search-bikes {
	border-radius: 0px;
    background: #2196F3;
    border-color: transparent;
    color: white;
    font-weight: 600;
    transition: background .3s;
    width: 132%;
}

.ws-search-bikes:hover, .ws-search-bikes:focus {
	background: #2196F3;
    border-color: transparent;
    color: white;
}

.ws-app-link {
	border-radius: 0px;
    background: #5454FF;
    border-color: transparent;
    color: white;
    font-weight: 600;
    transition: background .3s;
    width: 100%;
}

.ws-app-link:hover{
	background: #4B4BE0;
    border-color: transparent;
    color: white;
}

.ws-app-link:focus{
    background: #4B4BE0;
    border-color: transparent;
    color: white;
}

.ws-search-border {
	border: 2px solid #2196F3;
	border-radius: 4px;
}

.ws-hiw {
    border-radius: 2px;
    padding: 7px 20px;
    background-color: rgba(186, 186, 186, 0.81) !important;
    font-size: 16px;
    margin-bottom: 5%;
    margin-top: 1%;
    border: 0;
}

.ws-hiw:hover {
    background-color: rgba(158, 158, 158, 0.78) !important;
    transition: .2s ease-in-out;
}

.ws-cal-ico {
	padding-top: 7px;
    font-size: 20px;
    color: #A2A2A2;
}

.ws-pick-drop-text {
	padding-right: 35px;
}

.ws-app-icon {
	font-size: 20px;
    vertical-align: -2px;
}

.ws-padding-section {
    padding: 20px 175px 60px 175px;
}

.ws-padding-section-where {
	padding: 20px 0 60px 0px;
    text-align: center;
}

figure{
  width: 225px;
  height: 225px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #ddd;
  /*margin: 1em;*/
}

figcaption{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: table;
}

figcaption div{
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: 20px;
  opacity: 0;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

figcaption div:after{
  position: absolute;
  content: "";
  left: 0; right: 0;
  bottom: 40%;
  text-align: center;
  margin: auto;
  width: 0%;
  height: 2px;
  background: white ;
  transition: all .3s;
}

figure img{
  -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

figure:hover figcaption{
 background: rgba(0, 0, 0, 0.36);
}

figcaption:hover div{
  opacity: 1;
  top: 0;
}

figcaption:hover div:after{
  width: 50%;
}

figure:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}

.ws-offwhitebg {
	background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/app.png") no-repeat;
	background-size: cover;
}

.ws-lightbg {
	background-color: #FFFAFA;
}

.ws-app-dl {
	padding: 30px 100px 0px 0px;
}

.ws-app-dl > div > input {
    padding: 20px;
}

.ws-app-dl > div > span > button {
    height: 42px;
}

.ws-app-section {
	padding: 150px 0 150px 0;
}

.ws-news {
    opacity: 1;
    transition: .5s;
}

.ws-news:hover {
    opacity: 1;
      -webkit-transform: scale3d(1.2, 1.2, 1);
}

.navbar-nav>li>.dropdown-login {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 15px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.58);
    border-top: 2px solid white;
    border-radius: 0px;
    left: auto;
    width: 40px;
}

.dropdown-login > li > a {
    padding: 10px 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.dropdown-login > li:nth-child(odd) {
    background: rgba(62, 62, 62, 0.25)
}

.dropdown-login:after {
    position: absolute;
    top: -10px;
    right: 26px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    content: '';
}

.btn-fb {
    background: #3b5998;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-acc {
    background: #2196f3;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
}

.btn-fb:hover, .btn-fb:focus, .btn-acc:hover, .btn-acc:focus{
    color:white;
}

.fa-facebook {
    float: left;
    padding-left: 20px;
    font-size: 20px;
}

.ws-or {
    margin: 15px;
    font-size: 15px;
    font-weight: 600;
}

.login-btns {
    height: 50%;
    background: #f5f5f5;
    padding: 30px;
    border-bottom: 1px solid #D8D8D8;
}

.login-details {
    height: 100%;
    background: white;
}

.ws-login {
    margin-bottom: 15px;
    border: 0;
    border: 1px solid #DEDEDE;
    box-shadow: none;
}

.login-div {
    padding: 0px 31px;
    margin: 20px 0px;
}

.ws-fgpass {
    display: block;
    text-align: center;
    color: #2196f3;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

a.ws-fgpass {
    text-decoration: none;
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
}

.btn-signin {
    background: #2196f3;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.btn-signin:hover, .btn-signin:focus {
    color: white;
}

.login-btns1 {
    height: 50%;
    background: white;
    padding: 10px 30px;
}

#ws-red-modal {
    width: 32%;
}

.ws_featured_bikes {
    background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/featured_bg.png") no-repeat;
    background-size: cover;
    height: 80vh;
}

.ws-car-left {
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    top: 40%;
}

.ws-logo-lap {
    position: absolute;
    top: 0px;
}

.search-bikes-wd {
    width: 117%;
}

.ws-bikes-desc {
    width: 16%;
    position: absolute;
    top: 28%;
    right: 10%;
    color: white;
    font-size: 15px;
    text-align: left;
}

.ws-time-div {
    width: 11%;
}

.ws_hiw_p {
    font-size: 15px;
    color: #6B6B6B;
}

.ws_hiw_arrow {
    width: 40px;
    cursor: pointer;
    padding-top: 20px;
}

.how-it-works{
    overflow-y: hidden;
    height: 400px;
    position: absolute;
    background: white;
    top: 0px;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    padding: 30px;
    border-bottom: 1px solid #EEEEEE;
}

.how-it-works.closed {
    height: 0px;
    padding: 0px;
}

.news_sec {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.ws_stats_header {
    font-size: 3em;
    font-weight: bold;
}

.stats_plus {
    font-size: 3em;
    font-weight: bold;
}

.ws_stats {
    text-align: center;
    background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/BG.jpg") no-repeat;
    height: 40vh;
    background-size: cover;
    padding: 75px 0px 60px 125px;
    z-index: -1;
}

.contact_div {
    background: #5a5a5a;
    color: white;
    text-align: center;
}

.ws_wu {
    background: #dddddd;
    text-align: center;
    padding: 0px 0px;
}

.ws_wu > div {
    height: 250px;
    padding: 10px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ws_wu > div:last-child {
    border: 0;
}

.ws_wu > div:hover {
    background: #5454FF;
    color: white;
    transition: background .3s;
}

.ws_wu > div:hover > img {
    -webkit-filter: brightness(100);
    /*transition: all .3s;*/
}

.ws_wu_img {
    height: 100px;
    padding: 25px;
}

.ws_ws > div:after {
    content: '';
    border-left: 1px solid #080808;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0;
}

.ws_wu > div > h5 {
    font-weight: 600;
}

.ws_testimonials_owl {
    background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/Testimonal.jpg") no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.left_bracket {
    font-size: 7em;
    color: rgba(234, 234, 234, 0.61);
    position: absolute;
    top: 30%;
    left: 10%;
}

.right_bracket {
    font-size: 7em;
    color: rgba(234, 234, 234, 0.61);
    position: absolute;
    right: 10%;
    top: 30%;
}

.ws_user_test {
    font-size: 20px;
    color: white;
}

.testimonial-text {
    padding: 190px 170px;
    text-align: center;
    color: white;
}

.ws_prefooter {
    background: #333333;
    height: 59vh;
}

.ws_newlogo {
    height: 125px;
    width: 235px;
}

.logo_class {
    padding: 40px 40px;
}

.ws_building {
    background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/mountains.png") no-repeat;
    background-size: contain;
    height: 59vh;
    background-position: 0 45vh;
    /*border-bottom: 1px solid #171717;*/
}

.ws_social {
    padding: 10px 60px;
}

.ws_social > span > a {
    color: rgba(255, 255, 255, 0.36);
}

.ws_social > span > .ws-fb:hover {
    color: #3b5998;
    transition: all .2s;
}

.ws_social > span > .ws-insta:hover {
    color: #405de6;
    transition: all .2s;
}

.ws_social > span > .ws-gplus:hover {
    color: #dc4e41;
    transition: all .2s;
}

.ws_social > span > .ws-twit:hover {
    color: #55acee;
    transition: all .2s;
}

.ws_social > span > .ws-link:hover {
    color: #0077b5;
    transition: all .2s;
}


.ws_social > span > i.fa.fa-circle.fa-stack-2x {
    color: rgba(255, 255, 255, 0.34);
    font-size: 2.05em;
}

.fa-facebook:hover fa-circle {
    transform: rotate(360deg);
    transition: transform .3s;
    background-color:#3B5998;
}

.fa-facebook {
    float: left;
     padding-left: 0px; 
     font-size: 20px; 
}

.ws_links {
    padding: 30px 50px;
    color: white;
}

.footer_ul {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

.footer_ul > li > a {
    color: white;
    text-decoration: none;
}

.ws_seo_sec {
    background: #333333;
    padding: 40px;
}

.ws_rent_bikes {
    color: white;
    padding: 30px 20px;
}

.seo_results {
    list-style: none;
    padding-left: 0px;
}

.seo_results > li > a {
    color: #CECECE;
    text-decoration: none;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.seo_coupons {
    padding: 25px 90px;
}

.ws-city-dd {
    border-radius: 0px;
    width: 100%;
    color: #333;
    text-align: left;
}

.ws-city-dd:hover {
    background: white;
    color: #333;
}

.city-dd {
    border-radius: 0px;
    padding: 0px;
}

.city-dd > li > a {
    padding: 7px 20px;
    font-size: 15px;
    color: #464646;
}

.city-btn-grp {
    width: 100%;
}

#reset-pass {
    display: none;
}

.ws_stats_text {
    font-size: 22px;
    font-weight: 600;
}

.nav-tabs.ws_seo_links { 
    border-bottom: 2px solid rgba(221, 221, 221, 0.28); 
    margin-top: 20px; 
    font-size: 19px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    border-width: 0; 
}

.nav-tabs > li > a { 
    border: none; color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
    border: none; 
    color: white !important; 
    background: transparent !important; 
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
    background: transparent !important;
}

.nav-tabs > li > a::after { 
    content: ""; 
    background: white; 
    height: 2px; 
    position: absolute; 
    width: 100%; 
    left: 0px; 
    bottom: -1px; 
    transition: all 250ms ease 0s; 
    transform: scale(0); 
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
    transform: scale(1);
}
.tab-nav > li > a::after { 
    background: #21527d none repeat scroll 0% 0%; 
    color: #fff; 
}

.tab-pane { 
    padding: 15px 0;
}

.tab-content{
    padding:20px
}

.user-pic {
    width: 20px;
    display: inline;
    margin-right: 5px;
    vertical-align: -6px;
}

.login-link {
    text-transform: uppercase;
}

.login-link > span {
    font-size: 11px;
    vertical-align: 2px;
}
/********************
Custom Datetimepicker
********************/
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
    width: 14.2857142%;
    background: #f5f5f5;
    border: 0; 
    color: #666;
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
    padding: 0;
    border-collapse: collapse;
    cursor: pointer;
    height: 25px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div {
    background: #f5f5f5;
    border: 0; 
    color: #666;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    cursor: pointer;
    border-bottom-width: 0;
    height: 25px;
    line-height: 25px;
}

 .ws-city-dd > span {
    margin-top: 3px;
 }

#mozhide {
    display: none;
}

#mozhide:not(*:root) {
    display: block;
}
/********************
**Ordinary Stylings**
********************/

.no-padding {
	padding: 0px;
}

.margintopm10 {
	margin-top: -9px;
}

.marginbtm3p {
	margin-bottom: 3%;
}

.paddingbottom60px {
    padding-bottom: 60px;
    padding-top: 20px;
}

.paddingb10 {
        padding-bottom: 10px;
}

/********************
***BS CSS Overides***
********************/

.form-control {
	border-radius: 0px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel-control {
    width: 5% !important;
}

.form-control[readonly] {
    background: white;
}
/********************
***Error Classes*****
********************/

.error-text {
	background: #D32F2F;
    padding: 10px 40px;
    display: block;
    margin-top: 5px;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 0;
    z-index: 10;
    right: 1%;
    /*transform: translate(-50%, 0);*/
    display: none;
}

.success-text {
	background: #43A047;
    padding: 10px 40px;
    display: block;
    margin-top: 5px;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: fixed;
    top: 0;
    z-index: 10;
    right: 1%;
    /*transform: translate(-50%, 0);*/
    display: none;
}


/***********************
*Responsive Breakpoints*
***********************/
@media screen and (min-width: 1680px) and (max-width: 1950px) {
    #ws-landing-bg > div:first-child {
        margin-left: 38.5%;
    }

    .search-bikes-wd {
        width: 116.8%;
    }

    .ws-bikes-desc > p {
        font-size: 20px;
    }

    .testimonial-text {
        padding: 325px 220px;
    }

    .left_bracket {
        top: 38%;
    }

    .right_bracket {
        top: 38%;
    }

    .ws-search-border {
        width: 49%;
        margin-left: 27%;
    }

    .ws_stats {
        padding: 143px 0px 60px 125px;
    }

    .how-it-works {
        height: 525px;
    }
}


@media screen and (min-width: 1200px) and (max-width: 1250px) {
    .ws-bikes-desc {
        font-size: 13px;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .ws-bikes-desc {
        font-size: 12px;
    }
}

@media screen and (max-width: 680px) {
    .navbar-brand {
        display: inline;
        width: 55%;
    }   

    .navbar-header {
        background: black;
    }

    .navbar-default .navbar-toggle {
        border-color: white;
    }  

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }  

    .navbar-collapse {
        background: black;
    }

    .ws-search-border {
        padding: 0px;
    }

    .search-bikes-wd {
        width: 100%;
        margin: 0px;
    }

    .ws-search-bikes {
        width: 100%;
    }

    .ws-landing-text {
        text-align: center;
    }

    .ws-landing-tag {
        text-align: center;
    }

    .ws-padding-section {
        padding: 10px 20px;
    }

    .ws-img-holder {
        padding: 0px;
        width: 44%;
        display: inline-block;
        height: 154px;
    }

    .ws-img-holder:hover img  {
        transform: none;
    }

    .ws-app-dl {
        padding: 0px;
    }

    .ws-app-section {
        padding: 20px 0px;
    }

    .ws-news:hover {
        transform: none;
    }

    .ws-mb-grid {
        padding: 0px 0px 0px 35px;
    }

    .ws-news-holder {
        width: 49%;
        padding: 2px;
    }

    .ws-news-ys {
        width: 49%;
        padding: 2px;
        margin-left: 24%;
    }

    #ws-red-modal {
        width: 100%;
    }
    .ws-time-div {
        width: 100%;
    }
    .testimonial-text {
        padding: 110px 35px;
        text-align: center;
        color: white;
    }
    .ws_user_test {
        font-size: 15px;
        color: white;
    }
    .left_bracket {
        font-size: 8em;
        color: rgba(234, 234, 234, 0.61);
        position: absolute;
        top: 21%;
        left: 0%;
    }
    .right_bracket {
        font-size: 8em;
        color: rgba(234, 234, 234, 0.61);
        position: absolute;
        right: 0%;
        top: 21%;
    }
    .ws_stats {
        text-align: center;
        background: url("https://s3-ap-southeast-1.amazonaws.com/wheelstreetcdn/assets/media/mis/BG.jpg") no-repeat; 
        background-size: cover;
        padding: 60px 0px 60px 0px;
        z-index: -1;
        height: inherit;
    }
    figure figcaption{
        background: rgba(0, 0, 0, 0.36);
    }

    figcaption div{
        opacity: 1;
        top: 0;
    }

    figcaption div:after{
        width: 50%;
    }
    .ws_featured_bikes {
        background: none;
        display: none !important;
    }
    .ws_prefooter {
        height: inherit;
    }
    .ws_building {
        height: inherit;
        background-position: 0 91vh;
    }
    .ws-offwhitebg {
        background: none;
    }
    .ws_wu > div {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .ws_wu > div:last-child {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .ws_seo_links {
        padding: 0px 0px;
        border-bottom: 1px solid #484848;
    }
    .nav-tabs.ws_seo_links > li > a {
        color: white;
        text-transform: uppercase;
        font-size: 15px;
    }
    .ws_testimonials_owl {
        height: 50vh;
    }
    .ws_hiw_arrow {
        padding-bottom: 20px;
    }
    .how-it-works {
        height: inherit;
    }
    .seo_coupons {
        padding: 10px 10px;
    }
    .seo_coupons > div {
        padding-bottom: 10px;
    }
    .ws_links {
        text-align: center;
    }
    .footer_ul {
        text-align: center;
    }
    .dropdown-login > li > a {
        color: white !important;
    }
    .dropdown-login > li {
        padding: 10px;
    }
    #ws-landing-bg {
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 414px) {
    .navbar-brand {
        display: inline;
        width: 75%;
    }   

    .navbar-header {
        background: black;
    }

    .navbar-default .navbar-toggle {
        border-color: white;
    }  

    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }  

    .navbar-collapse {
        background: black;
    }

    .ws-search-border {
        padding: 0px;
    }

    .search-bikes-wd {
        width: 100%;
        margin: 0px;
    }

    .ws-search-bikes {
        width: 100%;
    }

    .ws-landing-text {
        text-align: center;
    }

    .ws-landing-tag {
        text-align: center;
    }

    .ws-padding-section {
        padding: 10px 20px;
    }

    .ws-img-holder {
        padding: 0px;
        width: 44%;
        display: inline-block;
    }

    .ws-img-holder:hover img  {
        transform: none;
    }

    .ws-app-dl {
        padding: 0px;
    }

    .ws-app-section {
        padding: 20px 0px;
    }

    .ws-news:hover {
        transform: none;
    }

    .ws-mb-grid {
        padding: 0px 0px 0px 35px;
    }

    .ws-news-holder {
        width: 49%;
        padding: 2px;
    }

    .ws-news-ys {
        width: 49%;
        padding: 2px;
        margin-left: 24%;
    }

    #ws-red-modal {
        width: 90%;
    }
    .ws_user_test {
        font-size: 14px;
    }
    .ws_links {
        padding: 30px 40px;
        color: white;
    }
    .ws_social {
        padding: 10px 30px;
    }
    .contact_div > h3 {
        font-size: 10px;
    }
    .seo_coupons {
        padding: 25px 10px;
    }
    .logo_class {
        padding: 40px 30px;
    }
}