
html,
body {
    height: 100%;
}

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #121212;
  background-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}*/

/*.nav-tabs { border-bottom: 2px solid #DDD; margin-top: 20px; margin-bottom: 20px;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}*/

/*.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
body{ background: #EDECEC; padding:50px}*/

/*.nav.nav-tabs.ws-fleet {
    border-bottom: none;
    margin-top: 10px;
    background: #BFBFBF;
}

.nav.nav-tabs.ws-fleet > li.active > a,
.nav.nav-tabs.ws-fleet > li.active > a:hover {
    border: none;
    border-top: 2px solid red;
    border-radius: 0px;
    color: #000000;
    background-color: white;
}

.nav.nav-tabs.ws-fleet > li ,
.nav.nav-tabs.ws-fleet > li > a,
.nav.nav-tabs.ws-fleet > li > a:hover {
    background-color: transparent;
    color: white;
    border-radius: 0px;
    border: none;
}*/

.form-control {
    border: 1px solid #B9E8E8 !important;
}

.filterable .filters input {
    border: 0 !important;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.dealer-location{
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 2px;
}

.btn-bikes{
    background-color:#CA65C8;
    border-color: #B246A4;
    color:#fff;
}

.btn-bikes:hover{
    background-color: #C33FC1;
}

/*.add-anything-super-div{
    margin-left:10px;
}*/

.check-fleet{
    margin-bottom:10px;
}

.sold{
    padding: 5px 0px;
    text-align: center;
    background-color: #E74212;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px -10px;
}

#AlreadyQuantity{
    margin: 0px 0px 5px 37%;
    padding: 10px 0px;
    font-size: 18px;
    display: none;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

.confirm-dealer-bike-details{
      margin-top: 8px;
      text-align: right;
      width: 520px;
}

.location-collapse-a{
    background-color: #1DC8E7;
    color: #120808;
    display: inline-block;
    width: 520px;
    margin-bottom: 5px;
    padding: 10px;
}

.location-collapse-a:hover,.location-collapse-a:focus{
    background-color: #1DC8E7;
    color:#120808;
    text-decoration:none;
}

.location{
    margin: 5px 15px;
}

.location-top-detail{
  display: inline-block;
  width:55px;
}

.location-bike-name{
  width: 195px;
}

.location-well{
  width: 520px;
  background-color: #f8f8f8;
  padding: 10px;
}

.each-location-inside{
  margin-bottom:5px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}

.location-inside-detail{
  display: inline-block;
  margin-right: 10px;
  width: 50px;
}

.location-sno{
  width:30px;
}


.location-regno{
  width: 65%;
}

.location-actions{
  width: 100px;
}
.coupon-codes{

}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 12px 10px;
    font-size: x-small;
}
.notice-lg strong{
    font-size:large;
}
.notice-lg span{
    margin-bottom:5px;
    display: inline-block;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

.modal input[type='text']{
    padding: 4px;
}
.modal select{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 30%;
}

.modal select:focus{

}
/* Footer Styles */

footer {
    margin: 50px 0;
}

.summary{
    margin-top:15px;
}
.user-details{
  padding: 5px 10px;
  background-color: #f8f8f8;
  margin: 10px 15px;
  width: 81%;
}
.user-detail{
    font-weight: 800;
    font-size: 120%;
}

/**
 * ====================
 * Gautam CSS
 * ====================
 */
 .navbar-nav {
    float: none;
    margin: 0;
 }

 .margin-bottom10 {
    margin-bottom: 10px;
 }

 .noborder {
    border: none;
 }

 .nopadding {
    padding: 0px;
 }

 .ws-addbike-select {
    background: transparent;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
 }

.ws-addbike-theader > thead {
    background: #B9B9B9;
    color: #292929;
}

.ws-addbike-theader > thead > tr > th {
    width: 70px;
}

.ws-ins {
    width: 40%;
    display: inline;
}

.ws-single-order-detail {
    margin: 10px 0 15px;
}

.ws-single-order-detail .table > tbody {
    font-size: 18px;
}

.ws-single-order-detail .table > tbody address {
    font-size: 14px;
    color: #666666;
    margin: 5px 0;
}

.ws-single-order-detail .table > tbody address:before {
    font-family: 'FontAwesome';
    content: "\f041";
}
.ws-single-order-detail .table > tbody address > span {
    display: block;
    margin-top: 10px;
}
.ws-single-order-detail .table > tbody address > span:before {
    font-family: 'FontAwesome';
    content: "\f095";
}

.ws-order-details-wrapper {
    background: #fff;
    padding: 20px;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}

.ws-order-details-wrapper .table > tbody {
    font-size: 14px;
}


.ws-order-details {
    margin-bottom: 40px;
}

.order-details-list {
    padding: 0;
    list-style: none;
    font-size: 16px;
}

.order-details-list > li:before,
.order-details-list > li:after {
    content: '';
    clear: both;
    display: block;
}

.order-details-list > li {
    padding: 5px 0;
    border-bottom: 1px solid #e8e8e8;
}

.order-details-list > li:last-child {
    border-bottom: 0;
}

.order-details-list > li > label {
    padding-left: 0;
    font-weight: 400;
    color: #6e6e6e;
    margin-bottom: 0;
}

.ws-rupees-icon {
    position: relative;
}
.ws-rupees-icon:before {
    font-family: "FontAwesome";
    content: "\f156";
    color: #000;
    margin-right: 2px;
    font-size: 10px;
    vertical-align: 2px;
}

.ws-delivery-title {
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
}

.ws-order-delivery-details {
    font-size: 16px;
}

.ws-order-delivery-details > address {
    color: #6e6e6e;
    font-size: 15px;
}

.ws-order-delivery-details > strong {
    font-size: 17px;
    margin-bottom: 5px;
    display: block;
}

.ws-order-delivery-details > address:before {
    font-family: 'FontAwesome';
    content: "\f041";
    margin-right: 4px;
}

.ws-order-delivery-details > address > span {
    display: block;
    margin-top: 10px;
}

.email_inv:before {
    font-family: 'FontAwesome' !important;
    content: "\f003" !important;
    font-size: 12px !important;
    margin-right: 8px !important;
}

.ws-order-delivery-details > address > span:before {
    font-family: 'FontAwesome';
    content: "\f095";
    font-size: 12px;
    margin-right: 8px;
}

.ws-order-informations {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.ws-order-informations > li {
    display: inline-block;
    vertical-align: middle;
}

.ws-order-informations > li a {
    font-size: 15px;
    color: #6b6b6b;
    padding: 5px 20px;
    font-weight: 300;
}

.ws-order-informations > li a > i {
    margin-right: 5px;
    font-size: 24px;
    vertical-align: middle;
}

.ws-order-informations > li > a:hover,
.ws-order-informations > li > a:visited,
.ws-order-informations > li > a:active {
    text-decoration: none;
    color: #5F5F5F;
}

.btn-cancel {
    background-color: #f26622;
    color: #fff!important;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 14px!important;
    padding: 2px 10px!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-cancel:hover,
.btn-cancel:visited,
.btn-cancel:focus {
    color: #fff!important;
    background-color: #DA5616;
}

.ws-order-table > thead {
    background-color: #e8e8e8;
}

.queries-table > thead > tr {
    background: #DDDDDD;
}

.queries-table > thead > tr > th {
    text-align: center;
}

.queries-padding {
    padding: 20px;
}

.queries-table > tbody > tr {
    text-align: center;
    text-transform: capitalize;
}

.input-group.date.form_datetime_pu.col-md-5 {
    float: inherit;
}

.input-group.date.form_datetime_do.col-md-5 {
    float: inherit;
}

.input-group.date.form_datetime_ded.col-md-4 {
    float: left;
}

#ExtendTripOverflow {
    overflow: hidden;
}

.form_datetime_ded {
    width: 49%;
    float: left;
}

#extendtripbody {
    height: 75px;
}


#BookFrom, #BookUntil, #BookingCity, #Type, #Mobile, #Email, #Fname, #Lname {
    box-shadow: none;
    border: 1px solid #ccc;
}

.UserDetails {
    padding: 10px;
}

.margin5px {
    margin: 5px;
 }

.bike-name {
    list-style: none;
    font-size: 17px;
}

.graph-legend {
    display: block;
    font-size: 17px;
}

.graph-container > div {
    padding: 10px;
}

.overlay_booking {
    background: whitesmoke;
    height: 200px;
    width: 96%;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 50px;
}

.graph-container > div > span {
    margin: 2px;
    border-radius: 0px;
}

#bike_avail {
    width: 14%;
    display: inline;
    border: 1px solid #ccc;
}

ul.nav.nav-tabs.nav-justified.switchbook {
    margin-top: 20px;
}

.nav-tabs.switchbook > li.active > a, .nav-tabs.switchbook > li.active > a:hover  {
border: 0;
}

.nav-tabs.switchbook > li > a {
    border: 0;
}

/**
*======================
* Dealer profile Card css
*======================
*/

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.card.hovercard .cardheader {
    /*background: url("http://lorempixel.com/850/280/nature/4/");*/
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -115px;
    margin-bottom: -85px;
}

.card.hovercard .avatar img {
    width: 125px;
    height: 125px;
    max-width: 125px;
    max-height: 125px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 5px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
    text-transform: uppercase;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.info > p > a {
    text-decoration: blink;
    cursor: pointer;
}

/**
 * ====================
 * Global Error Message and Preloader Styles
 * ====================
 */

.ws-global-error-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    margin: 0 auto;
    max-width: 300px;
    padding: 5px 10px;
}

.ws-global-error-wrapper.error {
    background: #F7E476;
}

.ws-global-error-wrapper.success {
    background: #5DAB2F;
}

.ws-global-error-wrapper > p {
    margin: 0;
}

.ws-addbike {
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 10px;
}

.ws-super-select {
    background: transparent;
    box-shadow: none;
    border: 1px solid #f2dede;
    margin: 5px 0px;
    padding: 3px;
    height: 30px;
}

.ws-avail-bike {
    text-align: center;
    margin-top: 10px;
}

.ws-avail-bike > a {
    margin-right: 10px;
}

span.actual-quantity {
    margin-right: 10px;
}

.ws-time-deposit {
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    padding: 10px 0px;
}

/* Responsive Styles */

@media only screen and (max-width: 800px) {

    .table-bordered {
        border: none;
    }

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; margin-bottom: 10px;}

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        /*padding-left: 50%; */
        white-space: normal;
        text-align:left;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    [data-title="FOS"] {
        font-weight: bold;
    }

    [data-title="Details"] {
        font-weight: bold;
    }

    [data-title="Address"] {
        display: inline !important;
    }

    [data-title="Fleet"] {
        display: inline !important;
    }

    [data-title="Image"] {
        width: 100% !important;
    }
    /*
    Label the data
    */
    /*#no-more-tables td:before { content: attr(data-title); }*/
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
    .navbar-header {
        float: none;
        border-bottom: 1px solid #101010;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-fixed-top .navbar-collapse {
        min-height: 370px !important;
    }
    .navbar-nav>li>a {
        padding-left: 30px;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
      padding-left:60px;
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
}


@media(max-width:1024px ){
    .navbar-header {
        width: 20%;
    }
}

@media(max-width:967px ){
    .login{
          width: 50%;
          margin: 0px 15%;
    }
    .navbar-header {
        width: auto;
    }
}

@media(max-width:854px ){
    .login{
          width: 50%;
          margin: 0px 15%;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    .navbar-nav .open .dropdown-menu {
        left: 0;
        right: 0;
        background-color: #222222;
    }
        .ws-order-table table,
    .ws-order-table thead,
    .ws-order-table tbody,
    .ws-order-table th,
    .ws-order-table td,
    .ws-order-table tr {
        display: block;
    }
    .ws-order-table td:first-child {
        border-top: 0;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .ws-order-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .ws-order-table tr {
        border: 1px solid #dddddd;
        margin-bottom: 15px;
    }
    .ws-order-table tr:last-child {
        margin-bottom: 0;
    }
    .ws-order-table td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 40%!important;
        white-space: normal;
        text-align:left;
    }

    .ws-order-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    .ws-order-table td:before { content: attr(data-title); }
}

@media(max-width:737px ){
    .login{
        width:95%;
        margin:9px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-nav {
        width: auto;
    }
}

@media(max-width:668px ){
    .login{
          width: 50%;
          margin: 0px 15%;
    }
}

@media(max-width:481px ){
    .login{
          width: 60%;
          margin: 0px 15%;
    }
    a.btn.btn-success.btn-lg {
        padding: 3px 7px;
        margin: 5px
    }
    a.btn.btn-xs.btn-info {
        margin: 5px;
    }
    .ws-rupees-icon:before {
        font-family: "Flaticon";
        content: "\e045";
        color: #000;
        margin-right: 2px;
        font-size: 10px;
        vertical-align: 2px;
    }
    .ws-addbike > span {
        margin-right: 7px;
    }
    .ws-dealer-card {
        padding: 0px;
    }
}

@media(max-width:415px ){
    .login{
        width:95%;
        margin:9px;
    }
    .nav.nav-tabs.ws-fleet {
        width: 100%;
        font-size: 13px;
    }
}

@media(max-width:377px ){
    .login{
        width:95%;
        margin:9px;
    }
}

@media(max-width:361px ){
    .login{
        width:95%;
        margin:9px;
    }
}

@media(max-width:321px ){
    .login{
        width:95%;
        margin:9px;
    }
    a.navbar-brand {
        width: 40%;
        padding-top: 3%;
    }
    .ws-addbike > span {
        margin-right: 7px;
    }
}
