{% extends 'base.html' %}
{% load material_form %}

{% block content %}
  <h2>Apply for loan</h2>

  <form method="post" class="viewform" class="container">
    {% csrf_token %}

    {% if args is not null %}
      <p>Error</p>
    {% endif %}
    <div class="row">
      {% for field in form %}
      <p class="col-md-6">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
      <button type="submit" name="_submit" class="col-md-8 col-md-offset-2 btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
  <br>
  <a  href="/home" class="col-md-8 col-md-offset-2 btn btn-primary btn-lg red">Back</a>
{% endblock %}
