{% extends 'base.html' %}
{% load material_form %}

{% block content %}
  <h2>Sign up</h2>

  <form method="post" class="viewform" class="row">
    {% csrf_token %}
    {% for field in form %}
      <p class="col-md-5">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" name="_submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
{% endblock %}
